<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="css/side-banner.css" rel="stylesheet">
	</head>
	<body>
		<div class="fixbanner">
	    	<div class="zkyc">
		    	<div class="touxiang">
		    		<img src="img/person.png">
		    	</div>
		    	<div class="fgxian"></div>
		    	<div class="gwcm">
		    		<img src="img/gwc02.png">
		    		<div class="jhd">
		    			<p>进</p>
			    		<p>货</p>
			    		<p>单</p>
			    		<small>0</small>
		    		</div>
		    		<div class="fgxian"></div>
		    	</div>
		    </div>
		    <div class="gdzk">
		    	<div class="kf">
		    		<img src="img/kf.png">
		    		<div class="jhd">
		    			<p>在线</p>
			    		<p>客服</p>
		    		</div>
		    	</div>
		    	<div id="returntop" href="javascript:;" class="return">
		    		<img src="img/jt01.png">
		    			<p class="top">TOP</p>
		    			<div class="fhdb">
			    			<p>返回</p>
				    		<p>顶部</p>
		    		    </div>
		    	</div>
		    	<div class="gb changtu"></div>
		    	<div class="zhankai">
		    		<img src="img/zkjt.png">
		    		<a>展开</a>
		    	</div>
		    </div>
	    </div>
	    <div class="kfbk">
	    	<div class="kftx"><img src="img/kftx.png"></div>
	    	<div class="kfzx">
	    		<div class="kf-top">
	    			<p>在线客服</p>
	    			<p>ONLINE SERVICE</p>
	    			<img src="img/gb01.png" />
	    		</div>
	    		<div class="ty">
	    			<img src="img/ty.png">
	    		</div>
	    		<div class="djzx">
	    			<a href="#">点击咨询</a>
	    		</div>
	    	</div>
	    </div>
	</body>
	<script src="js/jquery-3.3.1.js"></script>
	<script src="js/side-banner.js"></script>
	<script src="js/top.js"></script>
</html>
