<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztgm.iot.dao.AppVersionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ztgm.iot.pojo.AppVersionInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="VERSION_NO" property="versionNo" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
    <result column="FORCE_UPDATE" property="forceUpdate" jdbcType="TINYINT" />
    <result column="APP_TYPE" property="appType" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, VERSION_NO, FILE_NAME, MESSAGE, FORCE_UPDATE, APP_TYPE, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iot_app_version_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectLatestVersion" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from iot_app_version_info
    where APP_TYPE = #{appType,jdbcType=INTEGER}
    order by cast(VERSION_NO as SIGNED) desc
    limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iot_app_version_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ztgm.iot.pojo.AppVersionInfo" >
    insert into iot_app_version_info (id, FILE_NAME,VERSION_NO, MESSAGE,
      FORCE_UPDATE, APP_TYPE, CREATE_DATE
      )
    values (#{id,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{versionNo,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR},
      #{forceUpdate,jdbcType=TINYINT}, #{appType,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ztgm.iot.pojo.AppVersionInfo" >
    insert into iot_app_version_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="versionNo != null" >
        VERSION_NO,
      </if>
      <if test="message != null" >
        MESSAGE,
      </if>
      <if test="forceUpdate != null" >
        FORCE_UPDATE,
      </if>
      <if test="appType != null" >
        APP_TYPE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="forceUpdate != null" >
        #{forceUpdate,jdbcType=TINYINT},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztgm.iot.pojo.AppVersionInfo" >
    update iot_app_version_info
    <set >
      <if test="versionNo != null" >
        VERSION_NO = #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="forceUpdate != null" >
        FORCE_UPDATE = #{forceUpdate,jdbcType=TINYINT},
      </if>
      <if test="appType != null" >
        APP_TYPE = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztgm.iot.pojo.AppVersionInfo" >
    update iot_app_version_info
    set VERSION_NO = #{versionNo,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      MESSAGE = #{message,jdbcType=VARCHAR},
      FORCE_UPDATE = #{forceUpdate,jdbcType=TINYINT},
      APP_TYPE = #{appType,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>