<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztgm.mall.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="com.ztgm.mall.pojo.Brand">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="http_relative_path" jdbcType="VARCHAR" property="httpRelativePath" />
    
    <result column="old_name" jdbcType="VARCHAR" property="oldname" />
    
    
    
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, file_id, remark, brand_name, status, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    b.* ,f.http_relative_path,f.old_name
    from mall_brand b left join mall_file f on b.file_id=f.id 
    where b.id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  
     <select id="selectBrandList" parameterType="com.ztgm.mall.pojo.Brand" resultMap="BaseResultMap">
    select 
    b.* ,f.http_relative_path,f.old_name
    from mall_brand b left join mall_file f on b.file_id=f.id 
    where 1=1

		
		<if test=" brandName !=null and brandName !='' ">
			AND brand_name like concat ('%',#{brandName },'%') 
		</if>
    
  </select>

  
  
  
  
  
  
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_brand
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ztgm.mall.pojo.Brand">
    insert into mall_brand (id, create_time, file_id, 
      remark, brand_name, status, 
      sort)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{fileId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ztgm.mall.pojo.Brand">
    insert into mall_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztgm.mall.pojo.Brand">
    update mall_brand
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztgm.mall.pojo.Brand">
    update mall_brand
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      file_id = #{fileId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>



  <select id="getClassifyBrands"  resultMap="BaseResultMap">
    select * from mall_brand mb where mb.id in (
      select DISTINCT trademark_id
      from mall_commodity gd
      where 1=1 and status=1
      <if test="1==level">
        and gd.fst_classify=#{classifyId}
      </if>
      <if test="2==level">
        and gd.scd_classify=#{classifyId}
      </if>
      <if test="3==level">
        and gd.thd_classify=#{classifyId}
      </if>
    ) order by mb.sort asc
  </select>
</mapper>