<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztgm.iot.dao.FaultRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ztgm.iot.pojo.FaultRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="FAULT_CONTENT" property="faultContent" jdbcType="VARCHAR" />
    <result column="FAULT_DATE" property="faultDate" jdbcType="DATE" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, FAULT_CONTENT, FAULT_DATE, CREATE_DATE, CREATER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from iot_fault_record
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from iot_fault_record
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ztgm.iot.pojo.FaultRecord" >
    insert into iot_fault_record (ID, USER_ID, FAULT_CONTENT, 
      FAULT_DATE, CREATE_DATE, CREATER
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{faultContent,jdbcType=VARCHAR}, 
      #{faultDate,jdbcType=DATE}, #{createDate,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ztgm.iot.pojo.FaultRecord" >
    insert into iot_fault_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="faultContent != null" >
        FAULT_CONTENT,
      </if>
      <if test="faultDate != null" >
        FAULT_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="faultContent != null" >
        #{faultContent,jdbcType=VARCHAR},
      </if>
      <if test="faultDate != null" >
        #{faultDate,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztgm.iot.pojo.FaultRecord" >
    update iot_fault_record
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="faultContent != null" >
        FAULT_CONTENT = #{faultContent,jdbcType=VARCHAR},
      </if>
      <if test="faultDate != null" >
        FAULT_DATE = #{faultDate,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztgm.iot.pojo.FaultRecord" >
    update iot_fault_record
    set USER_ID = #{userId,jdbcType=VARCHAR},
      FAULT_CONTENT = #{faultContent,jdbcType=VARCHAR},
      FAULT_DATE = #{faultDate,jdbcType=DATE},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>