<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztgm.mall.dao.UserSearchLogMapper">
  <resultMap id="BaseResultMap" type="com.ztgm.mall.pojo.UserSearchLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="search_time" jdbcType="TIMESTAMP" property="searchTime" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, search_time, keyword,ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_user_search_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_user_search_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ztgm.mall.pojo.UserSearchLog">
    insert into mall_user_search_log (id, user_id,
      keyword,ip)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      #{keyword,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztgm.mall.pojo.UserSearchLog">
    insert into mall_user_search_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztgm.mall.pojo.UserSearchLog">
    update mall_user_search_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        keyword = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztgm.mall.pojo.UserSearchLog">
    update mall_user_search_log
    set user_id = #{userId,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectUserSearchLogList" resultType="java.util.HashMap">
    select mall_user_search_log.id searchLogId,mall_user.nickname userNickName,
      mall_user.name userName,mall_user_search_log.keyword,mall_user_search_log.search_time createTime,
      mall_user_search_log.ip ipAddress
    FROM mall_user_search_log LEFT JOIN mall_user on mall_user_search_log.user_id=mall_user.id
    WHERE 1=1
    <if test="startTime!=null and startTime !=''">
      and mall_user_search_log.search_time &gt; #{startTime}
    </if>
    <if test="endTime!=null and endTime !=''">
      and mall_user_search_log.search_time &lt; #{endTime}
    </if>
    <if test="keyWord!=null and keyWord !=''">
      and mall_user_search_log.keyword = #{keyWord}
    </if>
    <if test="customName!=null and customName !=''">
      and mall_user.nickname = like CONCAT ('%',#{customName },'%')
    </if>
    <if test="ip!=null and ip !=''">
      and mall_user_search_log.ip = #{ip}
    </if>
  </select>
</mapper>