<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztgm.mall.dao.UserActionLogMapper">
  <resultMap id="BaseResultMap" type="com.ztgm.mall.pojo.UserActionLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="action_time" jdbcType="TIMESTAMP" property="actionTime" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, action_time, action,ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_user_action_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getUserActionStaticsList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_user_action_log
    where user_id = #{userId,jdbcType=VARCHAR} and ip = #{ip,jdbcType=VARCHAR}
    <if test="startTime!=null and startTime !=''">
      and mall_order.create_time &gt; #{startTime}
    </if>
    <if test="endTime!=null and endTime !=''">
      and mall_order.create_time &lt; #{endTime}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_user_action_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ztgm.mall.pojo.UserActionLog">
    insert into mall_user_action_log (id, user_id, action_time, 
      action)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{actionTime,jdbcType=TIMESTAMP}, 
      #{action,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztgm.mall.pojo.UserActionLog">
    insert into mall_user_action_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="actionTime != null">
        action_time,
      </if>
      <if test="action != null">
        action,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null">
        #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztgm.mall.pojo.UserActionLog">
    update mall_user_action_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null">
        action_time = #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztgm.mall.pojo.UserActionLog">
    update mall_user_action_log
    set user_id = #{userId,jdbcType=VARCHAR},
      action_time = #{actionTime,jdbcType=TIMESTAMP},
      action = #{action,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>