@charset "UTF-8";

.gdimgcontainer {
	padding: 10px !important;
}

.gdimg {
	width: 150px;
	height: 100px;
	padding: 2px !important;
}

input.gdtext[type="text"] {
	width: 90%;
}

#imgadd img.center {
	padding: 20px 30px 20px 30px;
}

.imgclose {
	/*width: 0px !important; */
	right: 20px !important;
	top: 10px !important;
	opacity: 0 !important;
	position: relative;
}

.newcontainer:hover .imgclose {
	opacity: 0.5 !important;
}

input.hidevalidate {
	float: left;
	padding: 0px;
	margin: 0px;
	border: 0px solid gray;
	color: #ffff;
	background: #ffff !important;
	height: 0px !important;
	width: 0px !important;
}

.stip {
	padding: 5px;
	border: 1px dashed #444;
	background: #fff7cc;
	line-height: 2;
	margin-left: 10px;
	max-width: 300px;
}

.stip span {
	color: red;
}

.btn-file {
	overflow: hidden;
	position: relative;
}

.btn-file input[type=file] {
	top: 0;
	left: 0;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	opacity: 0;
	background: none;
	cursor: inherit;
	display: block;
}

.imgpre {
	margin: 0 auto !important;
	min-height: 120px;
}

.imgtip {
	position: relative;
	top: 80px;
	color: #aaa;
	font-size: 1.6em;
	/* padding: 85px 10px; */
	cursor: default;
}

.dropBox {
	   border: 1px dash #ddd;
	box-shadow: 1px 1px 5px 0 #a2958a;
	padding: 6px;
	float: left;
	text-align: center;
	display: block;
	margin-bottom: 5px;
	min-width: 400px;
	    
}

.dropBoxInner {
	padding: 3px;
	border: 1px dashed #aaa;
}

      
    .dropBox div {
	      margin: 75px 45px;
	      color: orange;
	      font-size: 25px;
	      font-family: Verdana, Arial, sans-serif;
	    
}

.dropBox .hrback {
	margin: 0px !important;
	border: 0.5px solid #aaa !important;
	z-index: 300 !important;
}

.dropBox .hrpro {
	margin: 0px !important;
	border: 0.5px solid green !important;
	z-index: 400 !important;
}